@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Nexa Regular */
@font-face {
  font-family: "nexa";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://use.typekit.net/af/a1f35e/0000000000000000773a5773/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2");
}

/* Nexa Italic */
@font-face {
  font-family: "nexa";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://use.typekit.net/af/3bb1d5/00000000000000007742b4a6/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2");
}

/* Nexa Bold */
@font-face {
  font-family: "nexa";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://use.typekit.net/af/0a14f1/0000000000000000773b2495/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2");
}

/* Nexa Bold Italic */
@font-face {
  font-family: "nexa";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://use.typekit.net/af/7d64aa/00000000000000007739ba67/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2");
}

/* STIX Two Text Regular */
@font-face {
  font-family: "stix-two-text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://use.typekit.net/af/d001ae/00000000000000007735caff/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2");
}

/* STIX Two Text Italic */
@font-face {
  font-family: "stix-two-text";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://use.typekit.net/af/90b930/00000000000000007735caf8/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2");
}

/* STIX Two Text Bold */
@font-face {
  font-family: "stix-two-text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://use.typekit.net/af/5e9a4e/00000000000000007735cb02/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2");
}

/* STIX Two Text Bold Italic */
@font-face {
  font-family: "stix-two-text";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://use.typekit.net/af/5deb99/00000000000000007735cafa/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2");
}


@theme {
  /* --color-*: initial; */
  --color-pink: #FC00A2;
  --color-yellow: #FDE700;
  --color-gray-100: #F3F3F3;
  --color-gray-500: #B4B4B4;
  --color-black-agente: #101010;
  
  --font-*: initial;
  --font-nexa: nexa, sans-serif;
  --font-stix: stix-two-text, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.he-float {
	animation: float 6s ease-in-out infinite;
}

.she-float {
	animation: float 8s ease-in-out infinite;
}